# Simple workflow for deploying static content to GitHub Pages
name: Publish

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]
    paths-ignore:
      - 'dist/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  # Single deploy job since we're just deploying
  build:
    runs-on: ubuntu-latest
    
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build dist
        run: bun run prepare

      - name: commit dist changes
        run: git add dist && git commit -m "commit dist"

      - name: Build storybook
        run: bun run build-storybook
        
      - uses: actions/configure-pages@v5
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'storybook-static'
          
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
